@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #010101;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  margin-left: 5px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

.home {
  display: flex;
  
  padding: 20px;
  max-width: 1000px; 
  margin: auto; 
}

.text-content {
  display: flex;
  flex-direction: column; /* Stacks h2 and h3 vertically */
  margin-right: 20px; /* Adds some space between the text and the image */
}

.home h2 {
  font-size: 45px;
  margin: 0;
}

.home span {
  font-size: 40px;
  
  color: #bc4123;
}

.home img {
  /* Optional: sets a maximum width for the image */
  
  height: 600px; /* Ensures the image maintains its aspect ratio */
  margin-left: 20px; /* Adds some space between the text and the image */
  box-shadow: 2px 2px 10px rgb(254, 252, 252); /* Adds a small shadow to the image */
}




/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover{
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}
form input, form label span, form textarea {
  display: block;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

/* stories list */
.stories > a {
  display: block;
  background: rgba(215, 214, 214, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.stories > a:hover p {
  color: var(--primary);
}
.stories p {
  margin: 0;
}
.stories > a p:last-child {
 font-size: 0.8em;
 color: #bbb;
}

/* stories details */
.story-details {
  background: rgba(253, 253, 253, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > *{
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #ddd;
}


.leagues nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
  color: black; 
}
.leagues nav a{
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}
.leagues nav a:hover{
  border-color: var(--primary);
}
.leagues nav a.active {
  background: var(--primary);
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-row {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  margin-bottom: 20px;
}

.card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 0 10px;
  width: 200px;
  text-align: left;
}

.card-image {
  width: 100%;
  border-radius: 4px;
}

.card-title {
  font-size: 1.25rem;
  margin: 10px 0;
  color: black;
}

.card button {
  background: #bc4123;
  color: white;
  border: none;
  border-radius: 4px;
  
  margin-top: 8px;
  cursor: pointer;
  font-size: 1rem;
  
}

.card img{
  width: 200px;
  height: 150px;
}

.card-button:not(:last-child) {
  margin-right: 10px;
}

.card-button:hover {
  background: #0056b3;
}



.group-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
}

.group-details {
  margin-bottom: 10px;
  display: block;
  background: rgba(122, 121, 121, 0.2);
  padding: 20px;
  border-radius: 4px
}

.group-details span {
  display: block;
  margin-bottom: 5px;
  color:aliceblue;
  
}

.join-group {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}


.team {
  display: block;
  background: rgba(122, 121, 121, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}

.combo {
  width: 200px;
  height: 40px;
  margin: 5px;
  overflow: hidden;
  background: #bc4123;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
}

.combo select {
  content: "▼";
  width: 100%;
  height: 100%;
  border: none;
  color: #010101;
  border-radius: 0;
  background: #bc4123;
  padding: 10px;
  font: bold;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.combo::after {
  content: "▼";
  font-size: 12px;
  color: #fafafa;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}